/dts-v1/;
#include <st/g0/stm32g0b1Xe.dtsi>
#include <st/g0/stm32g0b1r(b-c-e)tx-pinctrl.dtsi>

/ {
	model = "Keithley 615 communication board, STM32G0B1RE-based";
	compatible = "st,stm32g0b1re-nucleo";

	chosen {
		zephyr,console = &usart1;
		zephyr,shell-uart = &usart1;
		zephyr,uart-mcumgr = &usart1;
		zephyr,sram = &sram0;
		zephyr,flash = &flash0;
		zephyr,code-partition = &slot0_partition;
	};

	leds {
		compatible = "gpio-leds";
		led_run {
			gpios = <&gpioa 15 GPIO_ACTIVE_HIGH>;
			label = "Run LED";
		};
		led_trigger {
			gpios = <&gpioc 8 GPIO_ACTIVE_HIGH>;
			label = "Trigger LED";
		};
		led_user1 {
			gpios = <&gpioc 9 GPIO_ACTIVE_HIGH>;
			label = "User LED 1";
		};
		led_user2 {
			gpios = <&gpiod 0 GPIO_ACTIVE_HIGH>;
			label = "User LED 2";
		};
	};

    /* Keithley 615 50-pin interface */
    /* TODO: Make separate device driver for this, so device-tree layout can
     * be cleaner. */
    zephyr,user {
        polarity-gpios    = <&gpioa  5 GPIO_ACTIVE_HIGH>;
        overload-gpios    = <&gpiob  2 GPIO_ACTIVE_HIGH>;
        hold-gpios        = <&gpioc  3 GPIO_ACTIVE_HIGH>,
                            <&gpioc  2 GPIO_ACTIVE_HIGH>;
        trigger-gpios     = <&gpioc  1 GPIO_ACTIVE_HIGH>;
        print-gpios       = <&gpioc  0 GPIO_ACTIVE_HIGH>;

        data-gpios        = <&gpiod  9 GPIO_ACTIVE_HIGH>,
                            <&gpioc  7 GPIO_ACTIVE_HIGH>,
                            <&gpioa 10 GPIO_ACTIVE_HIGH>,
                            <&gpiod  8 GPIO_ACTIVE_HIGH>,
                            <&gpioa  9 GPIO_ACTIVE_HIGH>,
                            <&gpiob 15 GPIO_ACTIVE_HIGH>,
                            <&gpioc  6 GPIO_ACTIVE_HIGH>,
                            <&gpioa  8 GPIO_ACTIVE_HIGH>,
                            <&gpiob 13 GPIO_ACTIVE_HIGH>,
                            <&gpiob 11 GPIO_ACTIVE_HIGH>,
                            <&gpiob 14 GPIO_ACTIVE_HIGH>,
                            <&gpiob 12 GPIO_ACTIVE_HIGH>,
                            <&gpiob 10 GPIO_ACTIVE_HIGH>;

        range-gpios       = <&gpiob  1 GPIO_ACTIVE_HIGH>,
                            <&gpioc  5 GPIO_ACTIVE_HIGH>,
                            <&gpiob  0 GPIO_ACTIVE_HIGH>,
                            <&gpioc  4 GPIO_ACTIVE_HIGH>,
                            <&gpioa  7 GPIO_ACTIVE_HIGH>;

        sensitivity-gpios = <&gpioa  0 GPIO_ACTIVE_HIGH>,
                            <&gpioc 13 GPIO_ACTIVE_HIGH>;
    };

	gpio_keys {
		compatible = "gpio-keys";
		button_trigger {
			label = "Manual Trigger";
			gpios = <&gpioc 10 GPIO_ACTIVE_LOW>;
		};
	};

	aliases {
		watchdog0 = &iwdg;
	};
};

uart_rs232: &usart1 {
	pinctrl-0 = <&usart1_tx_pb6  &usart1_rx_pb7
                 &usart1_rts_pb3 &usart1_cts_pb4>;
	pinctrl-names = "default";
	current-speed = <115200>;
    /* hw-flow-control */
	status = "okay";
};

uart_usb: &usart2 {
	pinctrl-0 = <&usart2_tx_pd5  &usart2_rx_pd6
                 &usart2_rts_pd4 &usart2_cts_pd3>;
	pinctrl-names = "default";
	current-speed = <115200>;
    /* hw-flow-control */
	status = "okay";
};

&spi1 {
	status = "okay";
	pinctrl-0 = <&spi1_sck_pa1 &spi1_miso_pa6 &spi1_mosi_pa2>;
	pinctrl-names = "default";
    cs-gpios = <&gpioa 3 GPIO_ACTIVE_LOW>, <&gpioa 4 GPIO_ACTIVE_LOW>;

    ethernet_w5500: w5500@0 {
        compatible = "wiznet,w5500";
        label = "w5500";
        reg = <0>;
        spi-max-frequency = <10000000>;
        reset-gpios = <&gpioc 11 GPIO_ACTIVE_LOW>;
        int-gpios   = <&gpioc 12 GPIO_ACTIVE_LOW>;

        /* Random test MAC address, made static for now for ease of packet sniffing */
        local-mac-address=[ 02 08 dc b0 6f df ];
        /*zephyr,random-mac-address;*/
    };

    user_spi: spi_device@1 {
        label = "User SPI";
        reg = <1>;
        spi-max-frequency = <10000000>;
    };
};

/*&i2c1 {
	status = "okay";
	pinctrl-0 = <&i2c1_scl_pb8 &i2c1_sda_pb9>;
	pinctrl-names = "default";

    user_i2c: i2c_device@0 {
        label = "User I2C";
        reg = <0x0>;
    };
};*/

zephyr_udc0: &usb {
	pinctrl-0 = <&usb_dm_pa11 &usb_dp_pa12>;
	pinctrl-names = "default";
    disconnect-gpios = <&gpiob 5 GPIO_ACTIVE_HIGH>;
	status = "okay";
};

/*
 * Chip-internal devices follow
 */

&clk_hse {
	clock-frequency = <DT_FREQ_M(24)>;
	status = "okay";
};

&clk_hsi {
	status = "okay";
};

&clk_hsi48 {
	status = "okay";
};


&clk_lse {
	status = "okay";
};

&clk_lsi {
	status = "okay";
};


&pll {
	div-m = <1>;
	mul-n = <8>;
	div-p = <3>;
	div-q = <3>;
	div-r = <3>;
	clocks = <&clk_hse>;
	status = "okay";
};

&rcc {
	clocks = <&pll>;
	clock-frequency = <DT_FREQ_M(64)>;
	ahb-prescaler = <1>;
	apb1-prescaler = <1>;
};



&rtc {
	clocks = <&rcc STM32_CLOCK_BUS_APB1 0x00000400>,
		     <&rcc STM32_SRC_LSE RTC_SEL(1)>;
	status = "okay";
};

&iwdg {
	status = "okay";
};

&timers3 {
	st,prescaler = <10000>;
	status = "okay";
	pwm3: pwm {
		status = "okay";
		pinctrl-0 = <&tim3_ch1_pb4>;
		pinctrl-names = "default";
	};
};

&timers15 {
	st,prescaler = <10000>;
	status = "okay";
	pwm15: pwm {
		status = "okay";
		pinctrl-0 = <&tim15_ch1_pb14>;
		pinctrl-names = "default";
	};
};



&die_temp {
	status = "okay";
};

&flash0 {
	partitions {
		compatible = "fixed-partitions";
		#address-cells = <1>;
		#size-cells = <1>;

		boot_partition: partition@0 {
			label = "mcuboot";
			reg = <0x00000000 DT_SIZE_K(48)>;
			read-only;
		};
		slot0_partition: partition@C000 {
			label = "image-0";
			reg = <0x0000C000 DT_SIZE_K(200)>;
		};
		slot1_partition: partition@3E000 {
			label = "image-1";
			reg = <0x0003E000 DT_SIZE_K(200)>;
		};
		/* final 64KiB reserved for app storage partition */
		storage_partition: partition@70000 {
			label = "storage";
			reg = <0x00070000 DT_SIZE_K(64)>;
		};
	};
};

&cpu0 {
	cpu-power-states = <&stop0 &stop1>;
};

&lptim1 {
	clocks = <&rcc STM32_CLOCK_BUS_APB1 0x80000000>,
		 <&rcc STM32_SRC_LSI LPTIM1_SEL(1)>;
	status = "okay";
};

